body {
  background: #f9f7fe;
  font-family: "Ubuntu", sans-serif;
}

.weather-app {
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background: #ffff;
}

.search-bar {
  margin-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

#city-input {
  display: block;
  background: #f9f7fe;
  border: 1px solid #f9f7fe;
  border-radius: 5px;
  font-size: 12px;
  position: relative;
  width: 100%;
  padding: 15px 15px;
}

#submit {
  background: #7763aa;
  border: 1px solid #7763aa;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #ffff;
  font-weight: bold;
  width: 45%;
  position: relative;
  padding: 15px 0;
}

button {
  background: #7763aa;
  border: 1px solid #7763aa;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #ffff;
  font-weight: lighter;
  width: 40%;
  position: relative;
  padding: 15px 0;
}

#city {
  font-size: 40px;
  font-weight: bold;
  color: #222222;
}

#update-text {
  font-size: 15px;
  color: rgb(100, 100, 100);
  font-weight: normal;
}

#time-date {
  font-size: 15px;
  color: rgb(100, 100, 100);
  font-weight: normal;
}

#middle-bar {
  margin-top: 20px;
  margin-bottom: 10px;
  vertical-align:middle;
}

#icon {
  margin-right: 0;
  height: 80px;
  width: 80px;
  position: relative;
  top: -20px;
}

#temperature {
  color: #222222;
  font-size: 80px;
  font-weight: bold;
  margin-right: 3px;
}

.weather-temperature #units {
  position: relative;
  font-size: 12px;
  top: -34px;
}

#temp-description {
  color: #222222;
  font-size: 20px;
  font-weight: bold;
}

#temp-variables {
  font-size: 13px;
  padding-top: 10px;
  color: rgb(100, 100, 100);
}

li {
  height: 30px;
  list-style: none;
  color: #222222;
}

li:first-letter {
  text-transform: capitalize;
}

.forecast {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color:#222222;
}

.forecast-weekday {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temperature {
  font-size: 13px;
}

.forecast-temperature-min {
  opacity: 0.5;
}

footer {
  display: block;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
}

#links {
  color: #7763aa;
}