body {
  background: #f9f7fe;
  font-family: "Ubuntu", sans-serif;
}

.weather-app {
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background: #ffff;
}

.search-bar {
  margin-top: 40px;
  padding-bottom: 10px;
}

#city-input {
  background: #f9f7fe;
  border: 1px solid #f9f7fe;
  padding: 12px 100px;
  border-radius: 5px;
  font-size: 13px;
}

#submit {
  background: #f9f7fe;
  border: 1px solid #f9f7fe;
  padding: 15px 25px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #222222;
  font-weight: lighter;
}

button {
  background: #f9f7fe;
  border: 1px solid #f9f7fe;
  border-radius: 5px;
  padding: 15px 15px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #222222;
  font-weight: lighter;
}

#city {
  font-size: 40px;
  font-weight: bold;
  color: #222222;
}

#update-text {
  font-size: 15px;
  color: rgb(100, 100, 100);
  font-weight: normal;
}

#time-date {
  font-size: 15px;
  color: rgb(100, 100, 100);
  font-weight: normal;
}

#middle-bar {
  margin-top: 30px;
  padding-bottom: 30px;
  vertical-align:middle;
}

#icon {
  margin-right: 0;
  height: 80px;
  width: 80px;
  position: relative;
  top: -20px;
}

#temperature {
  color: #222222;
  font-size: 80px;
  font-weight: bold;
  margin-right: 3px;
  margin-left: 0;
}

#units {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: -35px;
}

#temp-description {
  color: #222222;
  font-size: 20px;
  font-weight: bold;
}

#temp-variables {
  font-size: 13px;
  padding-top: 10px;
  color: rgb(100, 100, 100);
}

li {
  height: 30px;
  list-style: none;
  color: #222222;
}

li:first-letter {
  text-transform: capitalize;
}

#weekdays {
  text-align: center;
  color: #222222;
  font-size: 15px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

#forecast {
  padding: 50px 4px;
  margin: 2px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(100, 100, 100);
  font-size: 14px;
  border: 1px dashed rgb(165, 165, 165);
  border-radius: 3px;
}

footer {
  display: block;
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
  text-decoration: none;
}

#links {
  color: #7763aa;
}